.header-title {
  font-size: 30px;
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 20px;
  color: #fff;
  animation: header-title-entry 0.5s ease-in-out forwards;
}

@keyframes header-title-entry {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.header-container {
  height: 100vh;
  background: #3C5670;
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 10px;
  top: 10px;
}

.logos img {
  height: 60px;
}

.logos img:nth-child(2) {
  margin-left: 20px;
  height: 18px;
}